<div class="container mt-5">
  <h2 class="text-primary mb-4">
    First Aid Instructions for Common Medical Emergencies
  </h2>

  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Severe Bleeding</h5>
      <img
        src="https://cprfirstaid.com.au/wp-content/uploads/2022/07/Basic-First-Aid-for-Bleeding-01-724x1024.png"
        alt="Severe Bleeding Image"
        class="mb-3"
      />
      <p class="card-text">
        - Protect Yourself: Wear gloves to avoid contact with the victim's
        blood.
        <br />
        - Apply Pressure: Use a clean cloth and apply direct pressure on the
        wound.
        <br />
        - Elevate the Wound: Raise the injured area above the heart, if
        possible.
        <br />
        - Apply Bandage: Once the bleeding is under control, apply a sterile
        bandage and continue applying pressure.
        <br />
        - Contact Emergency Services: Call for professional medical help
        immediately.
      </p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Choking</h5>
      <img
        src="https://www.stjohnvic.com.au/media/2892/choking-first-aid-01.png?quality=75&format=jpg"
        alt="Choking Image"
        class="mb-3"
      />
      <p class="card-text">
        - Encourage Coughing: If the person can cough, encourage them to
        continue coughing.
        <br />
        - Perform Abdominal Thrusts: If the person cannot breathe, perform the
        Heimlich maneuver.
        <br />
        - Call for Emergency Help: If the obstruction isn't dislodged, call for
        emergency medical assistance immediately.
      </p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Heart Attack</h5>
      <img
        src="https://www.ckbhospital.com/wp-content/uploads/2022/05/First-Aid-during-heart-attack-CPR-Guide-step-by-step-1024x576.jpg"
        alt="Heart Attack Image"
        class="mb-3"
      />
      <p class="card-text">
        - Call Emergency Services: Call for emergency medical assistance
        immediately.
        <br />
        - Help the Person Rest: Have the person sit or lie down and rest
        comfortably.
        <br />
        - Administer Aspirin: If the person is not allergic to aspirin, help
        them take a dose.
      </p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Burns</h5>
      <img
        src="https://www.firstaid.co.uk/images/blog/2022/Infographic/Burns-infographic.jpg"
        alt="Burns Image"
        class="mb-3"
      />
      <p class="card-text">
        - Remove from the Source of Burn: Move the person away from the source
        of the burn.
        <br />
        - Cool the Burned Area: Hold the burned area under cool (not cold)
        running water for 10-20 minutes.
        <br />
        - Cover the Burn: Use a sterile, non-adhesive bandage or clean cloth to
        cover the burn.
      </p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Snake Bite</h5>
      <img
        src="https://img.freepik.com/premium-vector/snake-bite-first-aid-medical-examination-concept-with-people-scene-flat-cartoon-style_198565-6539.jpg"
        alt="Snake Bite Image"
        class="mb-3"
      />
      <p class="card-text">
        - Keep Calm: Try to keep the victim as calm as possible to slow the
        spread of venom.
        <br />
        - Remove Jewelry: Remove any jewelry or tight clothing near the bite in
        case of swelling.
        <br />
        - Immobilize the Area: Keep the affected area below the heart and limit
        movement to prevent the venom from spreading.
        <br />
        - Seek Immediate Medical Attention: Call for emergency medical
        assistance immediately.
      </p>
    </div>
  </div>
</div>
